<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>My Social Square</h1>
  </div>
  </div>
</div>

<% @posts.each do |day, post_day| %>

<div class="container post_divide">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1>
       <%= day %>
      </h1><br>
      <h2>
        TWITTER
      </h2>
    </div>
  </div>


    <br>
    <br>



    <ul>
      <% post_day[:posts].each do |post| %>
        <li>

            <strong>@<%= post.user.screen_name %>:</strong>

            <p><%= post.text %></p>
                <%# Check if post has media (image or video/gif) %>
                <div class="row">
                  <div class="col-md-3">
                    <% if post.media? %>
                      <%# Show <video> tag if media is video) %>
                      <% if post.media[0].class == Twitter::Media::AnimatedGif %>
                        <video class="media_size" src="<%= post.media[0].video_info.variants[0].url %>" controls></video>
                      <%# Otherwise show a regular <img> %>
                      <% else %>
                        <img class="media_size" src="<%= post.media[0].media_url %>">
                      <% end %>
                    <% end %>
                  </div>
                </div>


            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </li>
      <% end %>
    </ul>
  </div>

<% end %>